%% -*- mode: erlang; -*-
{deps,
 [{cucumberl, ".*",
   {git, "http://github.com/ericbmerritt/cucumberl.git",
    {tag, "v0.0.5"}}},
  {getopt, ".*",
   {git, "https://github.com/jcomellas/getopt.git",
    {tag, "v0.4.4"}}},
  {erlware_commons, ".*",
   {git, "https://github.com/erlware/erlware_commons.git",
     "26c600922ebdec33eb9ffd05492bd0d24f2"}}]}.

{escript_incl_apps,
 [erlware_commons, getopt]}.

{escript_emu_args, "%%!\n"}.

{post_hooks, [{compile, "$([ -n \"`which gmake`\" ] && echo \"gmake jxa\" || echo \"make jxa\")"}]}.
